<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.shanzid.wordPlay">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="18"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="true">
        <activity android:label="@string/app_name" android:name="com.shanzid.wordPlay.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_unscramble" android:name="com.shanzid.wordPlay.Unscramble" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/title_activity_scramble" android:name="com.shanzid.wordPlay.Scramble" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/title_activity_game_unsramble" android:name="com.shanzid.wordPlay.Game_unsramble"/>
        <activity android:label="@string/title_activity_game__spelling" android:name="com.shanzid.wordPlay.Game_Spelling"/>
    </application>
</manifest>
